body {
	font-family: sans-serif;
	margin: 0px;
	overflow: hidden;

}

textarea:focus, input:focus, p:focus{
    outline: none;
}

* {
	box-sizing: border-box;
	font-family: monospace;
}



/* Tree, Pins and Connectors */
.contents{
	padding: 8px;
}
/* topBar */
.topBar{
	top:0px;
	left:0px;
	height:35px;
	width:100%;
	background: #AAA;
	padding:5px;
}

.topBarButton{
	height: 35px;
  position: relative;
  top: -5px;
  border: none;
  background: #aaa;
  border-right: solid #777 1px;
  border-left: solid #777 1px;
}
.topBarButton:hover{
	filter:brightness(95%);
}
.topBarButton:active{
	filter:brightness(90%);
}

/*UI main panel*/
.mainPanel{
	position: fixed;
	top: 35px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* Left Panel */
.leftPanel{
	position: absolute;
	background: #EEE;
	height:100%;
	left:0px;
	width:250px;
	top:0px;
	/* border-right:2px solid #fff; */
}
.leftMenu{
	background: #CCC;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	padding-top: 8px;
	text-align: center;
	/* border-bottom:2px solid black; */
}
.leftDragList{
	padding:5px;
	height:calc(100% - 70px);
	overflow-y: auto;
}


/*Preview*/
.previewPanel{
	/* background: red; */
	position: absolute;
	left: 550px;
	width: calc(100% - 550px);
	height: calc(100% - 30px);
}
.treeContainer{
	position: fixed;
	left:50px;
	top:50px;
	width:250px;
	height:500px;
	padding:5px;
}

.connector{
	user-select: none;
	height:30px;
	/* background: #a5f9b1; */
	border-radius: 3px;
	/* transition: 0.2s; */
}
#prefabConnector{
	display: none;
}
.arrow{
	height:20px;
	margin-top:5px;
	margin-left:5px;
	transform: rotate(-90deg);
	transition: 0.2s;
}
.name{
	position: relative;
  vertical-align: middle;
  top: -7px;
  font-size: 14px;
}


.pin{
	user-select: none;
	height:30px;
	border-radius: 3px;
}
#prefabPin{
	display: none;
}

.icon{
	height:20px;
	margin-top:5px;
	margin-left:5px;
}
.selected{
	background-color: #CCC;
}
.board{
	user-select: none;
	height:30px;
	border-radius: 3px;
}
#dragPlaceholder{
	user-select: none;
	height:20px;
	border-radius: 3px;
	margin:2px;
	display: none;
}
#dragableGhostWrapper{
	position: fixed;
	left:0px;
	top:0px;
	display: none;
	width:300px;
}


/* INSPECTOR*/

/* Middle Panel */
.middlePanel{
	position: absolute;
	background: #EEE;
	height:100%;
	left:250px;
	width:300px;
	top:0px;
}
.middleMenu{
	background: #CCC;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	padding-top: 8px;
	text-align: center;
	/* border-bottom:2px solid black; */
}

.inspectorPanel{
	background: #dedede;
	padding: 8px;
	margin: 10px;
	border-radius: 5px;
	display: none;
}
.panelLabel{
	font-weight: bold;
	font-size: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
	table-layout: fixed;
}
td{
	overflow: wrap;
	border-collapse: collapse;
	width:50%;
}
.inspectorPanel input, .inspectorPanel select{
	width:100%;
}
.inspectorPanel input[type=checkbox]{
	text-align: left;
	width:18px;
	height:18px;
	margin:0px;
}
.inspectorPanel button{
	width:100%;
}




/* Solder Profile CSS */
.valid{
	color:darkgreen;
	background-color: lightgreen;
	padding:5px;
}
.invalid{
	color:red;
}
.profileLabelName{
	margin: 0px;
	width: 100%;
	background: #ddd;
	border: none;
}
.solderProfileWindow{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.solderProfileInnerWindow{
	position: fixed;
	left:50px;
	top:50px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	background-color: #f3f3f3;
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.solderProfileContainer {
	display: grid;
	grid-template-columns: minmax(100px,200px) minmax(200px,0.7fr) 1fr;
	grid-template-rows: 50px 75px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}

.sp_header { grid-area: 1 / 1 / 2 / 4;
	background:white;
	padding: 14px;
}
.sp_title{
	font-size: 20px;
	margin:0px;
}
.sp_profileCtrl{
	grid-area: 2 / 1 / 3 / 2;
	padding:5px;
	background: #CCC;
}

.sp_profileContainer {
	grid-area: 3 / 1 / 4 / 2;
	margin: 5px;
	background: white;
	padding:5px;
}
.profileSlot{
	margin-bottom:5px;
}
.sp_varCtrl {
	grid-area: 2 / 2 / 3 / 3;
	text-align: center;
	padding: 5px;
	background: #CCC;
}
.sp_ctrlMenuOption{
	width:100%;
	margin-bottom: 3px;
	text-align-last:center;
}
.sp_variableContainer {
	grid-area: 3 / 2 / 4 / 3;
	background: white;
  margin: 5px;
	padding:5px;
}
.sp_variable{
	display:none;
	padding:5px;
	background:#ddd;
	border-radius:5px;
	margin-bottom: 5px;
}
.div6 {
	grid-area: 2 / 3 / 3 / 4;
	background: #CCC;
}
.sp_gholder {
	grid-area: 3 / 3 / 4 / 4;
	overflow-y: auto;
	background: white;
  margin: 5px;
}
.sp_garea{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 5px;
	font-size: 14px;
	overflow-wrap: normal;
}
.sp_footer {
	grid-area: 4 / 1 / 5 / 4;
	text-align: right;
}
.sp_saveBtn{
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}



.configWindow{
	/* display: none; */
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.configInnerWindow{
	position: fixed;
	left:50px;
	top:50px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	background-color: #f3f3f3;
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.configContainer {
	display: grid;
	grid-template-columns: minmax(100px,200px) minmax(200px,0.7fr) 1fr;
	grid-template-rows: 50px 75px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}
.cf_header { grid-area: 1 / 1 / 2 / 4;
	background:white;
	padding: 14px;
}
.cf_title{
	font-size: 20px;
	margin:0px;
}
.cf_footer {
	grid-area: 4 / 1 / 5 / 4;
	text-align: right;
}
.cf_saveBtn{
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}
