[data-theme="dark"]{
	--header: rgb(66 66 66);
	--background: #191919;
	--panel: #313131;
	--panel-inside-panel: #393939;
	--text-color: rgb(221, 221, 221);
	--text-color-disabled: #5e5e5e;
	--button-color: #404040;
	--button-outline: #4f4f4f;
	--input-color: #272727;
	--config-inner-window: #292929;
	--solder-profile-panel: #161616;
	--solder-tip-window: #222222;
	--canvas-background: #1d1d1d;
	--control: #1f1f1f;
	color: var(--text-color)
}

[data-theme="dark"] input, textarea{
	background-color: var(--input-color);
	color: var(--text-color);
	border: solid transparent 2px; 
}

[data-theme="dark"] button{
	background-color: var(--button-color);
	color: var(--text-color);
	border: solid var(--button-outline) 1px; 
}
[data-theme="dark"] button:disabled{
	background-color: var(--button-color);
	color: var(--text-color-disabled);
	border: solid var(--button-outline) 1px; 
}

[data-theme="dark"] select{
	background: var(--button-color);
	color: var(--text-color);
}

[data-theme="dark"] img {
	filter:invert(0.8);
}

[data-theme="dark"] .leftDragList::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

[data-theme="light"]{
	--header: #AAA;
	--background: #EEE;
	--panel: #DEDEDE;
	--panel-inside-panel: #e9e9e9;
	--config-inner-window: #efefef;
	--solder-profile-panel: white;
	--text-color: black;
	--solder-tip-window: #f3f3f3;
	--canvas-background: white;
	--control: #DEDEDE;
}

body {
	font-family: sans-serif;
	margin: 0px;
	overflow: hidden;

}

*:focus{
    outline: none;
}

* {
	box-sizing: border-box;
	font-family: monospace;
}



/* Tree, Pins and Connectors */
.contents{
	padding: 8px;
}
/* topBar */
.topBar{
	top:0px;
	left:0px;
	height:35px;
	width:100%;
	background: var(--header);
	padding:5px;
}
.fileMenu{
	height: 35px;
  position: relative;
  background: var(--button-color);
  top: -5px;
  border: none;
  width:60px;
}


.connectionTextHolder{
	position:absolute;
	right:10px;
	top:7px;
	background: var(--header);
}
.topBarButton{
	height: 35px;
  position: relative;
  top: -5px;
  border: none;
  background: #a2a2a2;
}
.topBarButton:hover{
	filter:brightness(95%);
}
.topBarButton:active{
	filter:brightness(90%);
}

.good{
	color:darkgreen;
	background-color: #a5e4ad;
	padding:5px;
}
.warning{
	color:black;
	background-color: #e3e4a5;
	padding:5px;
}
.bad{
	color:black;
	background-color: #e4a5a5;
	padding:5px;
}


/*UI main panel*/
.mainPanel{
	position: fixed;
	top: 35px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* Left Panel */
.leftPanel{
	position: absolute;
	background: var(--background);
	height:100%;
	left:0px;
	width:220px;
	top:0px;
	/* border-right:2px solid #fff; */
}
.leftMenu{
	background: var(--panel);
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	padding-top: 8px;
	text-align: center;
	/* border-bottom:2px solid black; */
}
.leftDragList{
	padding:5px;
	height:calc(100% - 70px);
	overflow-y: auto;
}


/*Preview*/
.previewPanel{
	background: var(--background);
	position: absolute;
	left: 470px;
	width: calc(100% - 470px);
	height: calc(100% - 350px);
}

#previewCanvas{
	background: var(--canvas-background);
}

.execPanel{
	background: var(--control);
	position: absolute;
	right:0px;
	bottom:0px;
	width:calc(100% - 470px);
	height:350px;
	padding:5px;
	display: -webkit-box;
}
.execSelectorPanel{
	height: 100%;
	width: 120px;
	border-right: 10px solid var(--background);
	margin-right: 10px;
	padding-right:5px;
	overflow-x:auto;
	overflow-y:hidden;
}
.execButton{
	width:100%;
	margin-bottom:5px;
}
.jogPanel{
	position:relative;
	width:510px;
	height:300px;
	border-right: 10px solid var(--background);
	margin-right: 10px;
}
.jogBtn{
	position:absolute;
	width:30px;
	height:30px;
	padding:0px;
}
.execControlPanel{
	height: 100%;
	width: 150px;
	border-right: 10px solid var(--background);
	margin-right: 10px;
	overflow-x:auto;
	overflow-y:hidden;
}
.execContainer{
	width: calc(100% - 125px);
	display: -webkit-box;
	height:100%;
	padding:5px;
}
.serialMonitor{
	display: grid;
	grid-template-columns: 1fr 45px;
	grid-template-rows: 1fr 30px;
	grid-gap: 5px;
	height:300px;
	width:100%;
}
.serialOutput{
	grid-area: 1 / 1 / 2 / 3;
	resize:none;
	white-space: pre;
}
.serialSendButton{
	grid-area: 2 / 2 / 2 / 2;
}
.serialInput{
	grid-area: 2 / 1 / 2 / 2;
}

.executionPanel{
	width: 100%;
	height: 100%;
	padding: 5px;
}
.exWrapper{
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	width: 100%;
	background-color: var(--panel-inside-panel);
}
.progressBarShell{
	width:100%;
	height:20px;
	background-color: var(--input-color);
}
.progressBarInside{
	height:100%;
	width:0%;
	left:0px;
	background-color: #7bc584;
	transition: 0.1s;
}
.exStatusTr{
	height:30px;
}
.exWrapperTable{
	height:100%;
	min-width: 240px;
}
.exWrapperTable button{
	margin:5px;
	display: block;
}
.exEmStopBtn{
}

.calibrationPanel{
	width: calc(100% - 520px);
	height: 100%;
	padding: 5px;
}
.calibrationInstructions{
	font-size: 12px;
}
#dX,#dY{
	width:60px;
	height:20px;
	margin-top:5px;
}

.treeContainer{
	position: fixed;
	left:50px;
	top:50px;
	width:250px;
	height:500px;
	padding:5px;
}

.connector{
	user-select: none;
	height:30px;
	/* background: #a5f9b1; */
	border-radius: 3px;
	/* transition: 0.2s; */
}
#prefabConnector{
	display: none;
}
.arrow{
	height:20px;
	margin-top:5px;
	margin-left:5px;
	transform: rotate(-90deg);
	transition: 0.2s;
}
.name{
	position: relative;
  vertical-align: middle;
  top: -7px;
  font-size: 14px;
}


.pin{
	user-select: none;
	height:30px;
	border-radius: 3px;
}
#prefabPin{
	display: none;
}

.icon{
	height:20px;
	margin-top:5px;
	margin-left:5px;
}
.selected{
	background-color: var(--panel);
}
.board{
	user-select: none;
	height:30px;
	border-radius: 3px;
}
#dragPlaceholder{
	user-select: none;
	height:20px;
	border-radius: 3px;
	margin:2px;
	display: none;
}
#dragableGhostWrapper{
	position: fixed;
	left:0px;
	top:0px;
	display: none;
	width:300px;
}


/* INSPECTOR*/

/* Middle Panel */
.middlePanel{
	position: absolute;
	background: var(--background);;
	height:100%;
	left:220px;
	width:250px;
	top:0px;
}
.middleMenu{
	background: var(--panel);
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	padding-top: 8px;
	text-align: center;
	/* border-bottom:2px solid black; */
}

.inspectorPanel{
	background: var(--panel);
	padding: 8px;
	margin: 10px;
	border-radius: 5px;
	display: none;
}
.panelLabel{
	font-weight: bold;
	font-size: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
	table-layout: fixed;
}
td{
	overflow: wrap;
	border-collapse: collapse;
	width:50%;
}
.inspectorPanel input, .inspectorPanel select{
	width:100%;
}
.inspectorPanel input[type=checkbox]{
	text-align: left;
	width:18px;
	height:18px;
	margin:0px;
}
.inspectorPanel button{
	width:100%;
}




/* Solder Profile CSS */
.profileLabelName{
	margin: 0px;
	width: 100%;
	background: #ddd;
	border: none;
}
.solderProfileWindow{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.solderProfileInnerWindow{
	position: fixed;
	left:50px;
	top:50px;
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	background-color: var(--config-inner-window);
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.solderProfileContainer {
	display: grid;
	grid-template-columns: minmax(150px,250px) minmax(200px,0.7fr) 1fr;
	grid-template-rows: 50px 75px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}

.sp_header { grid-area: 1 / 1 / 2 / 4;
	background:var(--config-inner-window);
	padding: 14px;
}
.sp_title{
	font-size: 20px;
	margin:0px;
}
.sp_profileCtrl{
	grid-area: 2 / 1 / 3 / 2;
	padding:5px;
	background: var(--panel);
}

.sp_profileContainer {
	grid-area: 3 / 1 / 4 / 2;
	margin: 5px;
	background: var(--solder-profile-panel);
	padding:5px;
}
.profileSlot{
	margin-bottom:5px;
	padding:5px;
	background:var(--panel);
	border-radius:5px
}
.sp_varCtrl {
	grid-area: 2 / 2 / 3 / 3;
	text-align: center;
	padding: 5px;
	background: var(--panel);
}
.sp_ctrlMenuOption{
	width:100%;
	margin-bottom: 3px;
	text-align-last:center;
}
.sp_variableContainer {
	grid-area: 3 / 2 / 4 / 3;
	background: var(--solder-profile-panel);
  margin: 5px;
	padding:5px;
}
.sp_variable{
	display:none;
	padding:5px;
	background:var(--panel);
	border-radius:5px;
	margin-bottom: 5px;
}
.div6 {
	grid-area: 2 / 3 / 3 / 4;
	background: var(--panel);
}
.sp_gholder {
	grid-area: 3 / 3 / 4 / 4;
	background: var(--solder-profile-panel);
  margin: 5px;
  overflow: hidden;
}

[data-theme="dark"] #sp_gcodeBox{
	filter: invert(1);
}

#gTemplateError{
	color:red;
	position: absolute;
  bottom: 50px;
  margin-left: 10px;
  white-space: nowrap;
}
.garea{
	width:100%;
	height:100%;
	margin: 0px;
	padding: 5px;
	font-size: 14px;
	resize:none;
	background: none;
	border: none;
}
.sp_footer {
	grid-area: 4 / 1 / 5 / 4;
	text-align: right;
}
.sp_saveBtn{
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}



.configWindow{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.configInnerWindow{
	position: fixed;
	left:10%;
	top:50px;
	width: 80%;
	height: calc(100% - 100px);
	background-color: var(--config-inner-window);
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.configContainer {
	display: grid;
	grid-template-columns: minmax(100px,400px) minmax(400px,1fr);
	grid-template-rows: 50px 50px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}
.cf_header { 
	grid-area: 1 / 1 / 2 / 4;
	background:var(--config-inner-window);
	padding: 14px;
}
.cf_execute{
	float:right;
}
.cf_saveBtn{
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}
.cf_infotext{
	display: inline;
}
.cf_top { 
	grid-area: 2 / 2 / 2 / 2;
	background:var(--config-inner-window);
	padding: 14px;
}
.cf_title{
	font-size: 20px;
	margin:0px;
}
.cf_topicContainer{
	grid-area: 2 / 1 / span 3 / 1;
	padding:5px;
	border-right: solid var(--config-inner-window) 5px;
	overflow-y: auto;
}
.cf_topic{
	width:100%;
	background: var(--panel);
	padding:10px;
	border-radius: 5px;
  margin-bottom: 5px;
}
.cf_gcodePanel{
	grid-area: 2 / 2 / 3 / 3;
	padding:10px;
}
.cf_gholder{
	grid-area: 3 / 2 / 3 / 2;
	overflow: hidden;
}
[data-theme="dark"] .cf_gholder{
	filter:invert(1);
}
.cf_footer {
	grid-area: 4 / 1 / 4 / span 2;
	text-align: right;
}
.im_saveBtn{
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}
.im_addbtn{
	margin-top:5px;
	margin-right:5px;
	height:30px;
}
.im_infotext{
	display: inline;
}
.im_execute{
	float:right;
}
.im_status{
	display: inline;
    float: right;
    margin: 0px;
    margin-right: 10px;
}

.importWindow{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.importInnerWindow{
	position: fixed;
	left:10%;
	top:50px;
	width: 80%;
	height: calc(100% - 100px);
	background-color: var(--config-inner-window);
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.importContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 50px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}
.im_header { 
	grid-area: 1 / 1 / 2 / 4;
	background:var(--config-inner-window);
	padding: 14px;
}
.im_top { 
	grid-area: 2 / 1 / 2 / 2;
	background:var(--config-inner-window);
	padding: 14px;
}
.im_title{
	font-size: 20px;
	margin:0px;
}
.im_middle{
	grid-area: 3 / 1 / 3 / 2;
	overflow: hidden;
	background-color: var(--panel);
	margin: 10px;
}
#im_canvas{
	background-color: var(--panel);
}
[data-theme="dark"] .im_gholder{
	filter:invert(1);
}
.im_footer {
	grid-area: 4 / 1 / 4 / span 2;
	text-align: right;
}
.im_saveBtn{
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}
.solderTipWizard{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.solderTipInnerWindow{
	position: fixed;
	left:calc(50% - 150px);
	top:calc(50% - 200px);
	width: 300px;
	height: 400px;
	background-color: var(--solder-tip-window);
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.solderTipContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 30px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}
.st_header{
	padding:10px;
}
.st_title{
	font-size: 20px;
	margin:0px;
}
.st_buttons{
	padding:5px;
	background:var(--panel);
}
.st_body{
	margin: 5px;
	background: var(--solder-profile-panel);
	padding:5px;
	overflow-y: auto;
}
.st_tipslot{
	margin-bottom:5px;
	padding:5px;
	background:var(--panel);
	border-radius:5px;
}
.st_saveBtn{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}


.connectorWizard{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.connectorWizardCenter{
	position: relative;
	left: 50%;
	top:10%;
	float: left;
}
.connectorWizardCenterInside{
	display: inline-flex;
	position: relative;
	left: -50%;
	float: left;
}
.connectorInnerWindow{
	width: 350px;
	height: 70%;
	margin-right: 10px;
	background-color: var(--solder-tip-window);
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.connectorContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}
.cn_body{
	margin: 5px;
	background: var(--solder-profile-panel);
	padding:5px;
	overflow-y: auto;
}
.cn_table{
	width:100%;
}
.cn_table input {
    width: 100%;
}
.cn_tipslot{
	margin-bottom:5px;
}
.cn_saveBtn{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:30px;
}
.connectorLibraryInnerWindow{
	width: 500px;
	height: 70vh;
	background-color: var(--solder-tip-window);
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.connectorLibraryContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}
.cn_bodyLibrary{
	margin: 5px;
	background: var(--solder-profile-panel);
	padding:5px;
	overflow-y: auto;
}
.cn_slot{
	display: none;
	background:var(--panel);
	border-radius: 5px;
	padding: 5px;
	min-height: 40px;
	margin-bottom: 5px;
}
.cn_s1{
	width:30%;
	padding:5px;
}
.cn_s2{
	width:80%;
	padding:5px;
}

.addToLibraryWizard{
	display: none;
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.atlInnerWindow{
	position: fixed;
	left:calc(50% - 300px);
	top:calc(50% - 100px);
	width: 600px;
	height: 200px;
	background-color: #f3f3f3;
	box-shadow: 1px 5px 17px 3px rgba(0,0,0,0.42);
}
.atlContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px 1fr 40px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height:100%;
	width:100%;
}

#banner{
	position:absolute;
	left:calc(50% - 250px);
	top:-80px;
	background:rgb(247 236 83 / 78%);
	width:500px;
	height:60px;
	border-radius: 5px;
	padding:15px;
	transition-duration: 0.2s;
}
#bannerText{
	font-size:20px;
}