body {
	font-family: sans-serif;
	margin: 0px;
	overflow: hidden;
}

* {
	box-sizing: border-box;
	font-family: monospace;
}



/* Tree, Pins and Connectors */
.contents{
	padding: 8px;
}
/* topBar */
.topBar{
	top:0px;
	left:0px;
	height:35px;
	width:100%;
	background: #AAA;
}

/*UI main panel*/
.mainPanel{
	position: fixed;
	top: 35px;
	left: 0px;
	width: 100%;
	height: 100%;
}


/* Left Panel */
.leftPanel{
	position: absolute;
	background: #EEE;
	height:100%;
	left:0px;
	width:250px;
	top:0px;
	/* border-right:2px solid #fff; */
}
.leftMenu{
	background: #CCC;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	padding-top: 8px;
	text-align: center;
	/* border-bottom:2px solid black; */
}
.leftDragList{
	padding:5px;
	height:calc(100% - 70px);
	overflow-y: auto;
}


/*Preview*/
.previewPanel{
	/* background: red; */
	position: absolute;
	left: 600px;
	width: calc(100% - 600px);
	height: 50%;
}
.treeContainer{
	position: fixed;
	left:50px;
	top:50px;
	width:250px;
	height:500px;
	padding:5px;
}

.connector{
	user-select: none;
	height:30px;
	/* background: #a5f9b1; */
	border-radius: 3px;
	/* transition: 0.2s; */
}
#prefabConnector{
	display: none;
}
.arrow{
	height:20px;
	margin-top:5px;
	margin-left:5px;
	transform: rotate(-90deg);
	transition: 0.2s;
}
.name{
	position: relative;
  vertical-align: middle;
  top: -7px;
  font-size: 14px;
}


.pin{
	user-select: none;
	height:30px;
	border-radius: 3px;
}
#prefabPin{
	display: none;
}

.icon{
	height:20px;
	margin-top:5px;
	margin-left:5px;
}
.selected{
	background-color: #CCC;
}
.board{
	user-select: none;
	height:30px;
	border-radius: 3px;
}
#dragPlaceholder{
	user-select: none;
	height:20px;
	border-radius: 3px;
	margin:2px;
	display: none;
}
#dragableGhostWrapper{
	position: fixed;
	left:0px;
	top:0px;
	display: none;
	width:300px;
}


/* INSPECTOR*/

/* Middle Panel */
.middlePanel{
	position: absolute;
	background: #EEE;
	height:100%;
	left:250px;
	width:300px;
	top:0px;
}
.middleMenu{
	background: #CCC;
	top:0px;
	left:0px;
	width:100%;
	height:35px;
	padding-top: 8px;
	text-align: center;
	/* border-bottom:2px solid black; */
}

.inspectorPanel{
	background: #dedede;
	padding: 8px;
	margin: 10px;
	border-radius: 5px;
	display: none;
}
.panelLabel{
	font-weight: bold;
	font-size: 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
	table-layout: fixed;
}
td{
	overflow: wrap;
	border-collapse: collapse;
	width:50%;
}
.inspectorPanel input, .inspectorPanel select{
	width:100%;
}
.inspectorPanel input[type=checkbox]{
	text-align: left;
	width:18px;
	height:18px;
	margin:0px;
}
